.button{
  background:$dark-blue;
  border: none;
  color:white;
  font-size: $font-size-large;
  font-weight:300;
  padding: $s-size;
  display: inline-block;
  text-decoration: none;
}

.button-other{
  background:#cccccc;
  border: none;
  color:black;
  font-size: $m-size;
  font-weight:300;
  padding: $s-size;
  display: inline-block;
  text-decoration: none;
}

.align-button{
    margin-left: 45%;
}


.button--link{
  background:none;
}

.display--link{
  background:none;
  color: $dark-blue;
  font-size: $font-size-large;
  font-weight:300;
  padding: 0 $s-size;
}
