.items-display{
 display:flex;
justify-content: space-between;
align-items: center;
flex-wrap:wrap;
margin: 10px 40px 10px 40px;

}

.item-display{
  border: 1px solid #cacccd;
  margin: $s-size $s-size;
  padding: $l-size $l-size;

}

.cart-items-display{
 display:flex;
justify-content: space-between  ;
align-items: center;
flex-wrap:wrap;
margin: 20px 30px 0px 30%;
width: 40%;
}
